$white: #fff;
$black: #000;
$link-dark-default: #00133A;
$link-color-default: #0C5BEF;
$grey-color-black-30: #A1A7B5;
$grey-color-black-40: #81899D;
$grey-color-black-85: #222327;
$grey-color-black-90: #17171A;
$button-bordered-default: #002DBF;
$background-ultra-light-blue: #F0F6FE;
$tag-border-radius: 36rem;
$grey-color-black-30: #A1A7B5;
$brend-primary: #0F62FE;


// media
$bp-tablet: 996px;
